<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 text-white gradiente">Outline Server</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">        
        {% if request.get_full_path == '/' %}
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'home_app:home' %}">Inicio</a>
        {% else %}
          <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'home_app:home' %}">Inicio</a>
        {% endif %}
        
        {% if 'productos' in request.get_full_path %}
          <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'home_app:productos' %}">Servicios</a>
        {% else %}
          <a class="nav-link fw-bold py-1 px-0" href="{% url 'home_app:productos' %}">Servicios</a>
        {% endif %}
        {% if 'faq' in request.get_full_path %}
          <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'home_app:faq' %}">FAQ</a>
        {% else %}
          <a class="nav-link fw-bold py-1 px-0" href="{% url 'home_app:faq' %}">FAQ</a>
        {% endif %}
        
        {% if not user.is_anonymous  %}
          {% if '/panel/' in request.get_full_path %}
            <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'user_app:user_panel' %}">Panel</a>
          {% else %}
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'user_app:user_panel' %}">Panel</a>
          {% endif %}
        {% else %}
          {% if '/login/' in request.get_full_path %}
            <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'user_app:user_login' %}">Login</a>
          {% else %}
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'user_app:user_login' %}">Login</a>
          {% endif %}
        {% endif %}  
      </nav>
    </div>
</header>
