<!-- head para PC -->
{% extends "base.html" %}
{% load  static %}

{% block css %}
{% endblock css %}
{% block title %}Outline Server: Panel de Usuario{% endblock title %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
    <header class="mb-5">
        <div>
          <h3 class="float-md-start mb-0 text-white gradiente">Outline Server</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">        
            {% if request.get_full_path == '/' %}
              <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'home_app:home' %}">Inicio</a>
            {% else %}
                <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'home_app:home' %}">Inicio</a>
            {% endif %}            
              
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'home_app:productos' %}">Servicios</a>
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'home_app:faq' %}">FAQ</a>
            
            {% if not user.is_anonymous  %}
              {% if '/panel/' in request.get_full_path %}
                <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'user_app:user_panel' %}">Panel</a>
              {% else %}
                <a class="nav-link fw-bold py-1 px-0" href="{% url 'user_app:user_panel' %}">Panel</a>
              {% endif %}
            {% else %}
              {% if '/login/' in request.get_full_path %}
                <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'user_app:user_login' %}">Login</a>
              {% else %}
                <a class="nav-link fw-bold py-1 px-0" href="{% url 'user_app:user_login' %}">Login</a>
              {% endif %}
            {% endif %}  
          </nav>
        </div>
    </header>

    <div class="offcanvas offcanvas-end" style="background-color: transparent;backdrop-filter: blur(2px);" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title active text-white" id="offcanvasRightLabel">Opciones</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <a href="{% url 'user_app:user_update' %}" class="list-group-item list-group-item-action list-group-item-success">Cambiar Contraseña</a>
            {% if user.is_staff %}
                <a href="{% url 'user_app:user_register' %}" class="list-group-item list-group-item-action list-group-item-success">Registrar Usuario</a>
                <a href="{% url 'ovpn_app:create_server' %}" class="list-group-item list-group-item-action list-group-item-success">Registrar Servidor</a>
                <a href="{% url 'ovpn_app:create_key' %}" class="list-group-item list-group-item-action list-group-item-success">Crear Clave VPN</a>
                <a href="{% url 'ovpn_app:list_server' %}" class="list-group-item list-group-item-action list-group-item-success">Servidores</a>
            {% endif %}
            <a href="{% url 'user_app:user_logout' %}" class="list-group-item list-group-item-action list-group-item-danger">Cerrar Sesion</a>
        </ul>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-10" >
            </div>
            <div class="col-2 col-md-2" >
                <button class="btn btn-outline-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">&#9776</button>
            </div>
            <div class="col-12 col-md-12">
                {% for f in object_list %}
                    <h1 class="text-center h1dregra">Bienvenido: {{f.username.upper}}</h1>
                    <h2 class="text-white text-center"></h2>
                {% endfor %}
            </div>
            {% for f in object_list %}
                {% if server_error %}
                    <h1 class="text-danger textshadow">{{server_error}}</h1>
                {% else %}
                    {% if f.outlinekey %}
                        <div class="col-12 col-md-12">
                            <div class="row text-center text-white" style="padding-top: 5em;">
                            {% for f in object_list %}
                                <div class="col-12 col-md-4 textshadow" >
                                    <h3>{{f.outlinekey.used_bytes}} {{f.outlinekey.size}}</h3>
                                    <span>Consumo Actual</span>
                                </div>
                                <div class="col-12 col-md-4 textshadow" >
                                    <h3>{{f.outlinekey.limit_data}} GB</h3>
                                    <span>Consumo Limite</span>
                                </div>
                                <div class="col-12 col-md-4 textshadow" >
                                    <h3>{{f.outlinekey.server.server_name}}</h3>
                                    <span>Servidor</span>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 col-md-12" style="padding-top: 1em;">
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button">ACCESS URL</button>
                        </div>
                    {% else %}
                        <h1 style="color: red;" class="textshadow">NO EXISTEN CONFIGURACIONES VPN DISPONIBLES PARA USTED</h1>
                    {% endif %}
                {% endif %}
            {% endfor %}
                
        </div>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">ACCESS URL</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for f in object_list %}
                    <p id="textArea">{{f.outlinekey.access_url}}</p>
                    <div id="copiado" class="alert alert-primary" role="alert" style="display: none;">
                        Texto Copiado al Portapapeles
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick=copiar()>Copiar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>

{% endblock content %}
{% block js %}<script src="{% static 'js/panel.js' %}"></script>{% endblock js %}